/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #E30613;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}



/* === login ==== */
.principal {
    display: flex;
    justify-content: center;
    height: 100vh !important;
    }
    
    
    
    .head .boxPesquisa{
    padding: 5px 10px;
    height: 2.5em;
    width: 40%;
    background-color: #ededed;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    
    
    .head .boxPesquisa .pesquisa{
    border: none;
    background: none;
    outline: none;
    width: 92%;
    font-size: 16px;
    line-height: 40px;
    }
    
    
    
    .boxPesquisa .btnPesquisar{
    background-color: #E30613;
    border-radius: 50%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 30px;
    box-shadow: rgb(255 0 0 / 70%) 0px 0px 5px;
    }
    
    
    
    .principal .boxModelLista .pagination {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-evenly;
    }
    
    
    
    
    
    .principal .boxModelLista .pagination a{
    text-decoration: none;
    }
    
    
    
    
    .left, .right{
    border-radius: 100%;
    text-align: center;
    height: 40px;
    width: 40px;
    display: flex;
    background-color: rgb(237 237 237);
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    color: black;
    margin: 0 5px;
    }
    
    
    
    .contaPagina{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    font-size: 18px;
    display: flex;
    background-color: rgb(237 237 237);
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    color: black;
    margin: 0 3px;
    
    
    
    }
    
    
    
    .contaPagina:hover{
    background-color: rgb(192, 192, 192);
    }
    
    
    
    .contaPagina.selecionada {
    background-color: var(--primary-color);
    color: #FFF;
    }
    
    
    
    .left:hover, .right:hover{
    background-color: var(--primary-color);
    }
    
    
    
    .principal .boxModelLista {
    height: 70%;
    width: 70%;
    padding: 50px;
    display: flex;
    background-color: var(--toggle-color);
    flex-direction: column;
    border-radius: 6px;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
    margin: auto;
    }
    
    
    
    .principal .boxModelLista .head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    }
    
    
    
    .listaTarefa{
    margin-top: 2em;
    }



table{
    width: 100%;
    text-align: center;

}

table thead tr th{
    background-color: rgb(190, 190, 190);
    border-bottom: #E30613 2px solid;
}

table tbody tr td{
    border: var(--toggle-color) 2px solid;
    padding: 5px;
}


table tbody tr td{
    background-color: rgb(237 237 237);
    
}



/* botões */
table tbody td button{
    width: 40px;
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    transition: var(--tran-03);
    border: none;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
}

table tbody td button i{
    font-size: 20px;
    
}

table tbody td .delete{
    background-color: rgb(238, 30, 30);
}

table tbody td .edit{
    background-color: rgb(255, 217, 0);
}

table tbody td .success{
    background-color: rgb(32, 179, 12);
}

table tbody td .successs{
    background-color: rgb(24, 110, 13);
}

table tbody td .success:hover{
    background-color: rgb(35, 139, 21);
}

table tbody td .editt{
    background-color: rgb(255, 217, 0);
}

table tbody td .deletee{
    background-color: rgb(238, 30, 30);
}

table tbody td .delete:hover{
    background-color: rgba(209, 23, 23, 0.836);
}

table tbody td .edit:hover{
    background-color: rgba(223, 190, 4, 0.897);

}
.bg-lista{

    position: relative;
    width: 90%;
    margin-left: auto;
}
ol, ul {
    padding-left: 0 !important;
}

.alert{
    top: -150px !important;
}

.mat{
    background-color: #FF4F4C;
    color: white;
    font-weight: bold;
}

.ves{
    background-color: #DE0F00;
    color: white;
    font-weight: bold;
}

.not{
    background-color: #A60A27;
    color: white;
    font-weight: bold;
}

.diaT{
    background-color: #707070;
    color: white;
    font-weight: bold;
}

table tbody td .info{background-color: rgb(17, 190, 17);color: white;}
table tbody td .info:hover{
     background-color: rgb(10, 134, 10);
    }

    .autocomplete {
        position: relative;
        display: inline-block;
    }
    
    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }
    /* 
    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
    }
    
    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
    } */
    
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
       max-height: 200px;
        overflow: auto;
    }
    
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    
    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }
    
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }