<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link href="../../lib/main.css" rel="stylesheet" />
    <title>Calendar</title>
    <link href="../../css/style-princial/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="../../css/style-notification/styleNotification.css"
    />
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/style-sidebar/sideBarTeste.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <style>
    .solict{
      overflow: hidden;
      font-weight: bold;
      /* background: linear-gradient(rgb(255, 191, 0), rgb(255, 255, 255)); */
      border: none;
      padding-left: 5px;
      border-left:  rgba(255,193,7) 10px solid !important;
      transition-duration: 0.3s;
    }
    .solict:hover{
      padding-right: 5px;
      border-left:  rgba(255,193,7) 20px solid !important;
      
    }
    .solictAll{
      padding-left: 3px;
      border: none;
      border-left: rgba(255,193,7) 10px solid !important;
      transition-duration: 0.3s;
    }
    .solictAll:hover{
      padding-left: 3px;
      border: none;
      border-left: rgba(255,193,7) 20px solid !important;
    }
    .lKjaEsdw{
      color: white !important;
    }
  </style>
  <body>
    <div class="t">
      <div class="sidebar">
        <header class="logo">
        <img
        class="logoImg"
        src="../../img/logo-senai22.png"
        alt="Logo Senai"
        />
        
        
        
        <button class="btnFechar" id="btMenu">
        <i class="bx bxs-chevron-left" style="color: #ffffff"></i>
        </button>
        </header>
        
        
        
        <ul class="nav_list">
        <li>
        <a href="index.html">
        <i class="bx bxs-calendar icon"></i>
        <span class="links_name">Calendário</span>
        </a>
        </li>
        
        
        
        <li>
        <a href="listaEventos.html">
        <i class="bx bx-calendar-event icon"></i>
        <span class="links_name">Eventos</span>
        </a>
        </li>
        <li>
        <a href="listaSolicitacoes.html">
        <i class="bx bx-bell icon"></i>
        <span class="links_name">Solicitações</span>
        </a>
        </li>
        <div id="bt_sair" class="sair profSair">
        <li>
        <a>
        <i class="bx bx-log-out"></i>
        
        
        
        <span class="links_name">Sair</span>
        </a>
        </li>
        </div>
        </ul>
        </div>
      <div class="bg-calendar">
        <div id="calendar"></div>
        <div class="divs">
          <span><h2 id="nameSpt"></h2></span>
          <div class="legenda">
  
            <h5>Legenda</h5>
  
            <ul>
              <li>
                <div class="matutino"></div> Matutino
              </li>
              <li>
                <div class="vespertino"></div> Vespertino
              </li>
              <li>
                <div class="noturno"></div> Noturno
              </li>
              <li>
                <div class="todoperiodo"></div> Todo o periodo
              </li>
            </ul>
  
          </div>
  
          <div class="solicitacoes">
            <div class="h4">
              <h5>Solicitações</h5>
              <h6 id="ErrorH6" style="display: none;padding: 5px;text-align: center;">Sem Solicitações</h6>
            </div>

          </div>
        </div>
      </div>
  
  
    </div>
    </div>
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      aria-labelledby="Label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" id="bgEvent">
            <h5 class="modal-title" id="titulo">Registro de Eventos</h5>
            <button
              type="button"
              class="btn-close"
              id="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="formulario" autocomplete="off" method="post">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-floating mb-3">
                    <input type="hidden" id="id" name="id" />
                    <input
                      id="title"
                      type="text"
                      class="form-control"
                      name="title"
                      required
                    />
                    <label for="title">Evento</label>
                  </div>
                </div>
                <div class="col-md-12" onclick="debug()">
                  <div class="form-floating mb-3">
                    <input
                      id="description"
                      type="text"
                      class="form-control"
                      name="description"
                      required
                    />
                    <label for="description">Descrição</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <select class="form-select mb-3" id="periodo" required>
                    <option id="opt0" value="0" selected>
                      Selecione o Período
                    </option>
                    <option id="opt1" value="1">Matutino</option>
                    <option id="opt2" value="2">Vespertino</option>
                    <option id="opt3" value="3">Noturno</option>
                    <option id="opt4" value="4">Todo o Período</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <div class="form-floating mb-3">
                    <input
                      class="form-control disable"
                      id="start"
                      value="00/00/0000"
                      type="date"
                      name="start"
                      required
                      disabled
                    />
                    <label for="" class="form-label">Data</label>
                  </div>
                </div>

                <div class="col-md-12" id="bgProf" style="display: none;">
                  <div class="form-floating mb-3">
                    <input
                      class="form-control disable"
                      id="professor"
                      type="text"
                      name="professor"
                      required
                      disabled
                    />
                    <label for="" class="form-label">Professor</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                id="btn-cancel"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="button" class="btn btn-danger" id="btnEliminar">
                Excluir
              </button>
              <button type="submit" class="btn btn-primary" id="btnAction">
                Salvar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                id="btnSalvarEditar"
                style="display: none"
              >
                Salvar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Alert -->
    <div class="alert hide" id="info">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg" id="mensagem">Warning: This is a warning alert!</span>
      <div class="close-btn">
        <span class="fas fa-times"></span>
      </div>
    </div>

    <script src="../../js/calendar-js/language.js"></script>
    <script src="../../bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../js/sidebar/sideBarLogica.js"></script>
    <script>
      const body = document.querySelector("body"),
        sidebar = body.querySelector("nav"),
        toggle = body.querySelector(".toggle"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      });

      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";
        }
      });
    </script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <script src="../../lib/main.js"></script>
    <script src="../../js/calendar-js/calendarJsProf.js"></script>
    <script src="../../js/calendar-js/language.js"></script>
  </body>
</html>
