@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#calendar {
  width: 800px;
  display: block;
}

#calendar .fc-view {
  background-color: white;
}

.fc-day-today {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.123) !important;
}

.fc-day:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.24) !important;
}

.bg-calendar {
  top: 100px;
  position: relative;
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

a {
  color: #343a40 !important;
  text-decoration: none !important;
}

.t {
  display: flex;
}

ol,
ul {
  padding-left: 0 !important;
}

.fc-prev-button,
.fc-next-button,
.fc-today-button,
.fc-dayGridMonth-button,
.fc-listWeek-button {
  background-color: red !important;
  border: 1px solid rgb(248, 58, 58) !important;
}

/* leganda e solicitacoes */
.divs {
  position: relative;
  left: 5%;
}

.legenda {
  position: relative;
  top: 3%;
  left: 5%;
  background-color: #fff;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  list-style: none;
  filter: drop-shadow(0px 3px 2px rgba(48, 48, 48, 0.25));
  margin-bottom: 30px;
}

.legenda ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.legenda h5 {
  border-bottom: #e30613 2px solid;
  text-align: center;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.legenda ul li {
  display: flex;
  margin-top: 20px;
}

.legenda div {
  display: flex;

  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
  filter: drop-shadow(0px 3px 2px rgba(48, 48, 48, 0.25));
  color: black;
}

.solicitacoes {
  overflow-x: hidden;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: 3%;
  left: 5%;
  padding-top: 10px;
  background-color: #fff;
  width: 200px;
  height: 306px;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 2px rgba(48, 48, 48, 0.25));
  padding-bottom: 10px;
}

.matutino {
  background-color: #FF4F4C;
}

.vespertino {
  background-color: #de0f00;
}

.noturno {
  background-color: #a60a27;
}

.todoperiodo {
  background-color: #83818c;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 2px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #e30613;
}

h2 {
  text-align: center;
  margin-left: 5%;
}

.solicitacoes h5 {
  border-bottom: #e30613 2px solid;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.blocos {
  display: flex;
  cursor: pointer;
  margin-top: 10% !important;
  margin: 0 auto;
  background-color: rgb(224, 224, 224);
  width: 90%;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 2px rgba(48, 48, 48, 0.25));
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
  min-height: 50px;
  box-shadow: rgba(122, 121, 121, 0.35) 0px 5px 15px;
  border-left: rgba(255, 193, 7) 20px solid;
  transition: 0.3s;
}

.linha {
  width: 10px;
  align-items: center;
  display: flex;
  text-align: center;
}

.linha ul {
  margin-left: 30px;
  list-style: none;
  font-size: small;
}

.linha ul li {
  max-width: 90%;
  margin: 0 35px;
  transition: 0.5s;
}

.linha ul {
  margin: 0 auto;
  word-wrap: break-word;
  width: 150px;
}
.linha i {
  margin-left: 100px;
}

.data {
  font-weight: bold;
} 
