@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
}
.alert{
  z-index: 9000;
  background: #ff2e2e;
  padding: 20px 40px;
  min-width: 420px;
  margin-left: 0px;
  width: 400px;
  position: relative;
  right: -1500px;
  /* top: -750px; */
  border-radius: 4px;
  border-left: 8px solid #FF1D23;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.alertsucces{
  background-color: rgba(121, 255, 80, 0.568) !important;
  border-left: rgba(103, 224, 66, 0.863) !important;
}

.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}

.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
}
.alert .msg{
  padding: 0 40px;
  font-size: 18px;
  color: white;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ff8080;
  padding: 20px 18px;
  cursor: pointer;
}

.close-btn-success{
  background: #70d363 !important;
}

.close-btn-success:hover{
  background: #48aa3b !important;
}

.alert .close-btn:hover{
  background: #ff6666;
}
.alert .close-btn .fas{
  color: white ;
  font-size: 22px;
  line-height: 40px;
}