<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8" />
 
    
    <title>Calendar</title>
    
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  
    <!-- CSS Nav -->
    <link rel="stylesheet" href="../../css/style-sidebar/sideBarTeste.css">
   
  
    <!-- CSS Lista-->
    <link rel="stylesheet" href="../../css/style-lista/styleLista.css">
    <link rel="stylesheet" href="../../css/style-lista-prof/styleListaProf.css">
  
  
  </head>

<body>
  <div class="t">
    <div class="sidebar">
      <header class="logo">
        <img class="logoImg" src="../../img/logo-senai22.png" alt="Logo Senai">
        
        <button class="btnFechar" id="btMenu">
          <i class='bx bxs-chevron-left' style='color:#ffffff'></i>
        </button>
        
      </header>
      
      <ul class="nav_list">
        <li>
          <a href="index.html">
            <i class='bx bxs-calendar'></i>
            <span class="links_name">Calendário</span>
          </a>
        </li>
        <li>
          <a href="listaProf.html">
            <i class='bx bx-user'></i>
            <span class="links_name">Professores</span>
          </a>
        </li>
        <li>
          <a href="listaEventos.html">
            <i class='bx bx-calendar-event'></i>
            <span class="links_name">Eventos</span>
          </a>
        </li>
        <li>
          <a href="listaSolicitacoes.html">
            <i class='bx bx-bell'></i>
            <span class="links_name">Solicitações</span>
          </a>
        </li>
        <div id="bt_sair" class="sair">

          <li>

            <div>

              <i class='bx bx-log-out'></i>

              <span class="links_name">Sair</span>

            </div>

          </li>

        </div>
      </ul>
    </div>

    <div class="bg-lista">

      <div class="principal">
        <div class="boxModelLista">
            
            <div class="head">
                <h2>Professores</h2>

                <div class="pagination">

                    <a href="#"><div class="left"><i class='bx bx-left-arrow-alt'></i></div></a>
                    <a href="#"><div class="right"><i class='bx bx-right-arrow-alt'></i></div></a>
                </div>
            </div>

            <div class="listaTarefa">

                <table>

                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Número da Matricula</th>
                            <th>Email</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Chile</td>
                            <td>464165121351</td>
                            <td>chile@gmail.com</td>
                            <td><button class="edit"><i class='bx bx-edit'></i></button></td>
                            <td><button class="delete"><i class='bx bx-trash' ></i></button></td>
                        </tr>

                        <tr>
                            <td>Chile</td>
                            <td>464165121351</td>
                            <td>chile@gmail.com</td>
                            <td><button class="edit"><i class='bx bx-edit'></i></button></td>
                            <td><button class="delete"><i class='bx bx-trash' ></i></button></td>
                        </tr>
                    </tbody>

                </table>

            </div>

                

    </div>   
    </div>   
  </div>
  <script src="../../bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../../js/sidebar/sideBarLogica.js"></script>

  <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })

    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })

    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");

      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";

      }
    });
  </script>

</body>

</html>