@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}





:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #E30613;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.5s ease;
}





body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    overflow: hidden;
}





/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 30px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}





.sidebar.active {
    width: 10%;
    margin: 0 auto;
}





/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;





}





.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}





.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}






.sidebar .links_name {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}





.sidebar.active .links_name {
    opacity: 0;
    transition: var(--tran-05);
}





/* =========================== */
.sidebar .logo {
    display: flex;
    align-items: center;
    margin: 20px 0;
}





.sidebar .logo .logoImg {
    max-width: 100%;
    border-radius: 3px;
}





.btnFechar {
    background-color: #FF0000;
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 50%;
    padding: 2px 0px;
    position: absolute;
    right: -5%;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 0px 4px var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
}






.sidebar.active .logo .btnFechar {
    right: -10%;
}





.sidebar.active .logo .btnFechar i {
    transform: rotate(180deg);
}





.sidebar ul .sair {
    position: relative;
    top: 200px;
    background-color: #ee0000;
    border-radius: 12px;
    color: white;
}





.sidebar ul li a {
    transition-duration: 0.5s;
    color: #343a40;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.sidebar ul li a:hover {
    margin-left: 10px;
}





.sidebar ul .sair li a {
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
    color: white !important;
}





.sidebar ul .sair li a:hover {
    margin-left: 20px;
}






.sidebar.active .sair .links_name {
    display: none;
}

/* Prof */
.sidebar ul .profSair {
    top: 310px !important;
}





/* Suporte */
.sidebar ul .suporteSair {
    top: 90px !important;
}









@media screen and (max-width: 1700px) {
    .sidebar {
        width: 220px;
        padding: 5px 15px;
    }





    .sidebar.active {
        width: 120px;
    }





    .sidebar li {
        height: 35px;
        margin-top: 50px;



    }





    .sidebar li a {
        font-size: 18px;



    }



    .sidebar .logo {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }





    .sidebar .logo .logoImg {
        max-width: 100%;
        border-radius: 3px;
    }



    .btnFechar {
        width: 1em;
        height: 1em;
        right: -8%;
    }





    .sidebar .logo .btnFechar i {
        font-size: 11px;
    }





    .sidebar ul .sair {
        top: 150px;
    }







    /* Prof */
    .sidebar ul .profSair {
        top: 100px !important;
    }





    /* Suporte */
    .sidebar ul .suporteSair {
        top: 0px !important;
    }
}






@media screen and (max-width: 1300px) {
    .sidebar {
        width: 160px;
        padding: 5px 15px;
    }





    .sidebar.active {
        width: 90px;
    }





    .sidebar li {
        height: 35px;
        margin-top: 50px;
    }





    .sidebar li a {
        font-size: 18px;



    }

    .sidebar .links_name {
        font-size: 11px;



    }





    .sidebar .icon {



        font-size: 19px;
    }



    .sidebar .logo {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }





    .sidebar .logo .logoImg {
        max-width: 100%;
        border-radius: 3px;
    }



    .btnFechar {
        width: 1em;
        height: 1em;
        right: -8%;
    }





    .sidebar .logo .btnFechar i {
        font-size: 13px;
    }





    .sidebar ul .sair {
        top: 100px;
    }







    /* Prof */
    .sidebar ul .profSair {
        top: 170px !important;
    }





    /* Suporte */
    .sidebar ul .suporteSair {
        top: 10px !important;
    }
}






@media screen and (max-width: 1100px) {
    .sidebar {
        width: 130px;
        padding: 5px 15px;
    }





    .sidebar.active {
        width: 90px;
    }





    .sidebar li {
        height: 25px;
        margin-top: 50px;
    }





    .sidebar li a {
        font-size: 12px;



    }

    .sidebar .links_name {
        font-size: 9px;



    }





    .sidebar .icon {



        font-size: 15px;
    }



    .sidebar .logo {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }





    .sidebar .logo .logoImg {
        max-width: 100%;
        border-radius: 3px;
    }



    .btnFechar {
        width: 1em;
        height: 1em;
        right: -8%;
    }





    .sidebar .logo .btnFechar i {
        font-size: 13px;
    }





    .sidebar ul .sair {
        top: 75px;
    }







    /* Prof */
    .sidebar ul .profSair {
        top: 150px !important;
    }





    /* Suporte */
    .sidebar ul .suporteSair {
        top: 0px !important;
    }
}





@media screen and (max-width: 800px) {
    .sidebar {
        width: 120PX;
        padding: 5px 15px;
    }





    .sidebar.active {
        width: 90px;
    }





    .sidebar .links_name {
        font-size: 13px;
    }





    .sidebar li {
        height: 40px;



    }





    .sidebar li a {
        font-size: 18px;



    }



    .sidebar .logo {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }





    .sidebar .logo .logoImg {
        max-width: 100%;
        border-radius: 3px;
    }



    .btnFechar {
        width: 1em;
        height: 1em;
        right: -8%;
    }





    .sidebar .logo .btnFechar i {
        font-size: 13px;
    }





    .sidebar ul .sair {
        top: 150px;
    }







    /* Prof */
    .sidebar ul .profSair {
        top: 300px !important;
    }





    /* Suporte */
    .sidebar ul .suporteSair {
        top: 150px !important;
    }

    .sidebar .links_name {
        font-size: 13px;
    }
}